    <ul id="kaTop">
        <li onclick="getShowCT()"><a class="ka" id="ka" href="javascript:void(0);"></a></li>
        <li><a class="top" id="top" href="javascript:void(0);"></a></li>
    </ul>
    <div class="event_title_wrap">
            <h3>EVENT</h3>
            <div class="product_tabs">
                <ul class="e_tab1">
                    <li class="active"><a href="javascript:void(0);">ALL</a></li>
                    <li class="view2"><a href="javascript:void(0);">ONGOING</a></li>
                    <li class="view3"><a href="javascript:void(0);">END</a></li>
                </ul>   
        </div>

<!-------------CONTENTS------------------->
        <section class="event_sec1 w1200">
            <ul class="ongoing">
                <li class="event_oning">
                        <div>
                            <div class="event_img1"></div>
                            <span class="period">현재 진행 중</span>
                        </div>
                        <h3>Summer Event   
                            <p>여름맞이 진정 가이드</p>
                        </h3> 
                </li>
                <li class="event_oning">
                        <div>
                            <div class="event_img2"></div>
                            <span class="period">6/1~6/30</span>
                        </div>
                        <h3>New Erseongcho Mask  
                            <p>집중케어가 필요할 때</p>
                        </h3> 
                </li>
                <li class="event_oning">
                        <div>
                            <div class="event_img3"></div>
                            <span class="period">현재 진행 중</span>    
                        </div>
                        <h3>Summer Cleanser   
                            <p>모공타파 케어템</p>
                        </h3> 
                </li>
            
                <li class="event_end bb">
                    <div class="black_bg">
                        <div class="event_img4"></div>
                    </div>
                    <h3>종료된 이벤트입니다.</h3>
                </li>
                <li class="event_end">
                    <div class="black_bg">
                        <div class="event_img5"></div>
                    </div>
                    <h3>종료된 이벤트입니다.</h3>
                </li>
                <li class="event_end">
                    <div class="black_bg">
                        <div class="event_img6"></div>
                    </div>
                    <h3>종료된 이벤트입니다.</h3>
                </li>
            </ul>
        </section>
        
     <!--event box click-->

     <div  class="dis event_box_wrap">
        <div class="ev_box">
            <a class="close">X</a>
            <div class="title_box">
                <h4>[event] SUMMER EVENT 여름맞이 진정 가이드</h4>
                <p>기간 : 현재 진행 중</p>
            </div>
            <div class="con_box">
                <div class="ev_notice">
                    <img src="img/oh/event1.jpg">
                </div> 
            </div>
        </div>
    </div> 

     <div  class="dis event_box_wrap">
        <div class="ev_box">
            <a class="close">X</a>
            <div class="title_box">
                <h4>[event] New Erseongcho Mask 집중케어가 필요할 때</h4>
                <p>기간 : 6/1~6/30</p>
            </div>
            <div class="con_box">
                <div class="ev_notice">
                    <img src="img/oh/event2.png">
                </div> 
            </div>
        </div>
    </div> 

     <div  class="dis event_box_wrap">
        <div class="ev_box">
            <a class="close">X</a>
            <div class="title_box">
                <h4>[event] Summer Cleanser 모공타파 케어템</h4>
                <p>기간 : 현재 진행 중</p>
            </div>
            <div class="con_box">
                <div class="ev_notice">
                    <img src="img/oh/event_3.jpg">
                </div> 
            </div>
        </div>
    </div> 

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="js/event.js"></script>
        