    <ul id="kaTop">
        <li onclick="getShowCT()"><a class="ka" id="ka" href="javascript:void(0);"></a></li>
        <li><a class="top" id="top" href="javascript:void(0);"></a></li>
    </ul>
    <section class="find_wrap">
        <h2>계정찾기</h2>
        <ul class="find_tab">
            <li><a class="active" href="javascript:void(0)">ID찾기</a></li>
            <li><a href="javascript:void(0)">PW찾기</a></li>
        </ul>

        <div id="id_find_wrap" >
            <form>
                <label>성함</label>
                <div>
                    <input type="text" placeholder="이름을 입력해주세요.">
                </div>
                
                <label>휴대폰번호</label>
                <div>
                    <input type="text" placeholder="'-'제외하고 입력해주세요.">
                    <span class="phone_btn"><button>인증하기</button></span>
                </div>
            </form>
        </div>

        <div id="pw_find_wrap" class="dis">
            <form>
                <label>성함</label>
                <div>
                    <input type="text" placeholder="이름을 입력해주세요.">
                </div>
                
                <label>아이디</label>
                <div>
                    <input type="text" placeholder="아이디를 입력해주세요.">
                </div>

                <label>휴대폰번호</label>
                <div>
                    <input type="text" placeholder="'-'제외한휴대폰번호를 입력해주세요">
                    <span class="phone_btn"><button>인증하기</button></span>
                </div>
            </form>
        </div>
        <div class="find_btn"><a href="javascript:void(0)">확인</a></div>


    </section>
    <!-- <script src="js/find.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script> -->