    <ul id="kaTop">
        <li onclick="getShowCT()"><a class="ka" id="ka" href="javascript:void(0);"></a></li>
        <li><a class="top" id="top" href="javascript:void(0);"></a></li>
    </ul>
    <section class="int_main_wrap">  

        <!--탭-->
        <div class="event_title_wrap">
            <h3>BRAND</h3>
            <div class="product_tabs">
                <ul class="tab1">
                    <li class="brand_tab active"><a href="javascript:void(0);">BRAND STORY</a></li>
                    <li class="ers_tab"><a href="javascript:void(0);">ERSEONGCHO STORY</a></li>
                    <li class="store_tab"><a href="javascript:void(0);">STORE</a></li>
                </ul>
            </div>       
        </div>

        
        <section class="w1200 sec1 brand">
            <h2>
                자연유래원료를 바탕으로 연구생산하는
                <br>자연주의 브랜드 "헤이네이처"
            </h2>
            <p>
                헤이네이처는 ‘처음 피부’로 돌아갈 수 있도록 피부가 미소 짓는 연구를 하며 생산합니다.
                <br>피부로 고민하는 모든 분들이 편안한게 느낄 수 있도록 끊임없는 연구 개발을 하고 있습니다.
                <br>자외선, 공해와 각종 유해환경으로부터 지친 피부에  본래의 건강함을 되찾아드리고 싶습니다.
            </p>
            <article class="heyn_wrap">
                <div class="forest_video">
                    <video class="forest" src="img/oh/forest.mp4" autoplay="" loop="" muted="" poster="" playsinline=""></video>
                    <div class="he_wrap">
                        <div class="health">
                            <h5>HEALTH</h5>
                            <p>자연유래성분을 바탕으로 건강하고 아름다운 피부로 가꾸기 원하는 
                                <br>모든 분들을 위한 연구를 계속할 것입니다.</p>
                        </div>
                        <div class="energy">
                            <h5>ENERGY</h5>
                            <p>엄격하고 철저한 연구와 생산과정을 거쳐 피부가 활력을 찾고, 
                            <br>미소 짓도록 최선을 다할 것입니다.</p>
                        </div>
                    </div>
                    <div class="yn_wrap">
                        <div class="youth">
                            <h5>YOUTH</h5>
                            <p>활력있고 생기있는 피부를 위해 식품의약품안전처에서 
                            <br>미백, 자외선차단, 주름개선 기능성 인증을 받은 제품들을 만듭니다.</p>
                        </div>
                        <div class="nature">
                            <h5>NATURE</h5>
                            <p>지성, 건성, 복합성, 민감성 등 다양한 피부타입의 고객들이
                                <br>만족할 수 있는 제품을 만들겠습니다.</p>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section class="w1200 sec2 brand">
            <h2>
                “Clean Beauty”
                <br>더이상, 사람으로 인해 지구가 다치지 않도록
                <br>자연과 함께 공존과 상생이 가능한 방식을 추구합니다.
            </h2>
            <p>
                환경과 피부를 위해 끊임없이 변화해나가고 있습니다.
                <br>앞으로도 지속적으로 좋은 영향을 위해 노력할 것을 약속합니다.
            </p>
            <article class="love_wrap">
                <span class="love_txt">
                    <ul>
                        <li>
                            <h5>LOVE YOUR SKIN</h5>
                            <p>단일 성분을 사용하여 매일 사용해도 자극이 없도록
                                <br>성분 배합에 충실하여 건강하고 안전한 제품을 만듭니다.</p>
                        </li>
                        <li>
                            <h5>BEGAN BEAUTY</h5>
                            <p>비건인증 기관 중 가장 까다로운 
                                <br>이브 비건 인증을 받고 있습니다.</p>
                        </li>
                        <li>
                            <h5>LOVE THE EARTH</h5>
                            <p>불필요한 포장은 최소화하고 있으며, 
                                <br>필요한 경우 친한경 종이 완충재로 포장됩니다.
                                <br>박스 또한 테이핑이 필요 없는 접이식 박스를 사용하고 있습니다.</p>
                        </li>
                    </ul>
                </span>
                <span class="love_img">
                    <img src="img/oh/de.PNG" width="100%">
                </span>
            </article>
            <article class="be_wrap">
                <span>
                    <video class="tree_video" src="https://player.vimeo.com/external/397181891.hd.mp4?s=9cc867c244822149ab612a1442517869ac3af057&profile_id=174"  autoplay="" loop="" muted="" poster="" playsinline=""></video>
                </span>
                <span class="be_txt">
                    <ul class="m_be_txt">
                        <li>
                            <h5>BE CONSCIOUS</h5>
                            <p>기존 일반 플라스틱 용기에서 
                                <br>재활용 플라스틱 100% PCR 용기로  리뉴얼 하였습니다.</p>
                        </li>
                        <li>
                            <h5>BE AWARE</h5>
                            <p>지속 가능한 환경을 고려하여 생분해 인증을 받은 
                                <br>튜브 용기를 사용하였습니다.</p>
                        </li>
                        <li>
                            <h5>BE RESPONSIBLE</h5>
                            <p>국제산림관리협의회의 인증을 받은 종이(FSC)와
                                <br>콩기름 인쇄를 사용하여 환경보호를 실천합니다.</p>
                        </li>
                    </ul>
                    <ul class="m_love_be_txt">
                        <li>
                            <h5>LOVE YOUR SKIN</h5>
                            <p>단일 성분을 사용하여 매일 사용해도 자극이 없도록
                                <br>성분 배합에 충실하여 건강하고 안전한 제품을 만듭니다.</p>
                        </li>
                        <li>
                            <h5>BEGAN BEAUTY</h5>
                            <p>비건인증 기관 중 가장 까다로운 
                                <br>이브 비건 인증을 받고 있습니다.</p>
                        </li>
                        <li>
                            <h5>LOVE THE EARTH</h5>
                            <p>불필요한 포장은 최소화하고 있으며, 
                                <br>필요한 경우 친한경 종이 완충재로 포장됩니다.
                                <br>박스 또한 테이핑이 필요 없는 접이식 박스를 사용하고 있습니다.</p>
                        </li>
                        <li>
                            <h5>BE CONSCIOUS</h5>
                            <p>기존 일반 플라스틱 용기에서 
                                <br>재활용 플라스틱 100% PCR 용기로  리뉴얼 하였습니다.</p>
                        </li>
                        <li>
                            <h5>BE AWARE</h5>
                            <p>지속 가능한 환경을 고려하여 생분해 인증을 받은 
                                <br>튜브 용기를 사용하였습니다.</p>
                        </li>
                        <li>
                            <h5>BE RESPONSIBLE</h5>
                            <p>국제산림관리협의회의 인증을 받은 종이(FSC)와
                                <br>콩기름 인쇄를 사용하여 환경보호를 실천합니다.</p>
                        </li>
                    </ul>
                </span>
            </article>
        </section>
        <section class="w1200 sec3 brand">
            <article class="intro_wrap">
                <div class="min_logo">
                    <img src="img/oh/h_logo01.jpg">
                </div>
                <div class="value_txt">
                    <h5>VALUE</h5>
                    <p>우리는 끊임없이 변화합니다.</p>
                    <p>회사와 브랜드를 모든 직원의 공동재산으로 여겨
                        구성원 모두가 즐겁게 일할 수 있는 동기부여를 줍니다.</p>
                    <p>자체 연구 개발하여 업그레이드된 고품질의 제품을
                        소비자에게 제공합니다.</p>
                </div>
            </article>
            <div class="leaf_video">
                <video src="https://player.vimeo.com/external/397184838.hd.mp4?s=95c64a136d1fc52b1d0b86e473cc456126df43bc&profile_id=175" autoplay="" loop="" muted="" poster="" playsinline=""></video>
            </div>
            <article class="vm_wrap">
                <span class="vm_txt">
                    <ul>
                        <li>
                            <h5>VISION</h5>
                            <p>헤이네이처 화장품을 세계에 알리고
                                <br>한국 화장품을 대표하는 글로벌 브랜드로
                                <br>성장하는 것입니다.</p>
                        </li>
                        <li>
                            <h5>MISSION</h5>
                            <p>한국 화장품의 리더로서 최고의 품질로 만들어진
                                <br>자연 친화적인 스킨케어, 트렌디한 메이크업 제품을
                                <br>전세계인에게 알리고 사용 할 수 있게 하는 것입니다.</p>
                        </li>
                    </ul>
                </span>
                <span>
                    <img class="vm_img" src="img/oh/ampoule.PNG" >
                </span>
            </article>
            <article class="q_wrap">
                <span>
                    <img class="q_img" src="img/oh/as.jpg">
                </span>
                <span class="q_txt">
                    <ul>
                        <li>
                            <h5>QUALITY</h5>
                            <p>고객님들의 많은 관심과 사랑에 보답하는 마음으로
                              <br>더욱 건강하고 안전한 제품으로 만들기 위해 노력하겠습니다.</p>
                            <p>또한  한국 자연주의 화장품을 대표하는 브랜드로
                                <br>성장함으로써 K-beauty 가치를 높여 
                                <br>사회에까지 환원할 수 있는 헤이네이처가 
                                <br>되도록 노력하겠습니다.</p>
                        </li>
                    </ul>
                </span>
            </article>
        </section>
        <section class="w1200 sec4 brand">
            <div class="history">
                <h3>“헤이네이처 성장 과정”</h3>
                <div>
                  <h6>2021</h6>
                  <ol>
                    <li>어성초라인 ‘올리브영’ 입점</li>
                   </ol>
                </div>
                <div>
                  <h6>2020</h6>
                  <ol>
                    <li>신라 면세점, 롯데 면세점 입점</li>
                   </ol>
                </div>
                <div>
                  <h6>2019</h6>
                  <ol>
                    <li>어성초라인 ‘롭스’ 입점</li>
                  </ol>
                </div>
                <div>
                  <h6>2016</h6>
                  <ol>
                    <li>직영 3호점, ‘헤이네이처’ 명동 2호점 오픈</li>
                   </ol>
                </div>
                <div>
                  <h6>2015</h6>
                  <ol>
                    <li>코스모뷰티 인도네시아, 말레이시아 참가</li>
                    <li>대한민국 소비자 수출대전 K-BEAUTY관 참가</li>
                   </ol>
                </div>
                <div>
                  <h6>2014</h6>
                  <ol>
                    <li>(주) 헤이네이처 법인 설립/ 직영 2호점 명동점 오픈</li>
                    <li>(주) 결고은사람들 법인 설립</li>
                    <li>코스모뷰티 인도네시아, 말레시아 참가 / 인도네시아 지사 개설</li>
                   </ol>
                </div>
                <div>
                  <h6>2013</h6>
                  <ol>
                    <li>홍콩 Cosmoprof of Asia 참가 / 홍콩 O’Farm 참가</li>
                    <li>코스모뷰티 인도네시아 참가</li>
                    <li>직영 1호점 ‘헤이네이처 이대점’ 오픈</li>
                    <li>Hey-Pop 제품 출시</li>
                    <li>국내 브랜드명 ‘결고은 사람들’에서 ‘헤이네이처’로 통합 / 본사이전</li>
                   </ol>
                </div>
                <div>
                  <h6>2012</h6>
                  <ol>
                    <li>홍콩 Cosmoprof of  Asia 참가 / 홍콩 SaSa 온라인 입점</li>
                    <li>‘헤이네이처 progressive color 시리즈’ 출시 </li>
                    <li>서울 명동 Noon Square 쇼핑몰 입점</li>
                    <li>상해 ‘중국미용박람회’ 전시회 참가</li>
                   </ol>
                </div>
                <div>
                  <h6>2011</h6>
                  <ol>
                    <li>홍콩 Cosmoprof of Asia 참가</li>
                    <li>Wing on department store 입점 / Leaf1000 stores 매장 오픈</li>
                    <li>한국 왓슨 입점</li>
                   </ol>
                </div>
                <div>
                  <h6>2009</h6>
                  <ol>
                    <li>전통적인 허브 포뮬러와 현대 메디컬 연구의 성과인
                        <br>‘오리엔탈 Derma 시리즈’ 개발</li>
                    <li>무공이네 납품 계약체결</li>
                    <li>홍콩 왓슨 입점 / Tuen Mun에 id:c 트렌드 플라자에 카운터 오픈</li>
                   </ol>
                </div>
                <div>
                  <h6>2008</h6>
                  <ol>
                    <li>‘헤이네이처’ 중국 자회사 설립</li>
                    <li>Tsuen Wen 지역에 4호점, 구룡 침사츄이 지역에 3호점 오픈</li>
                   </ol>
                </div>
                <div>
                  <h6>2007</h6>
                  <ol>
                    <li>구룡 몽콕지역에 2호점 오픈</li>
                    <li>홍콩에서 개최돈 8th Beauty and Fitness Expo 참가</li>
                   </ol>
                </div>
                <div>
                  <h6>2006</h6>
                  <ol>
                    <li>홍콩 ‘헤이네이처’ 법인 설립 / Couseway Bay에 홍콩 1호점 오픈</li>
                   </ol>
                </div>
                <div>
                  <h6>2004</h6>
                  <ol>
                    <li>밀레니엄플라자, 삼성플라자 입점</li>
                    <li>세계시장으로 진출하는 글로벌 브랜드 ‘헤이네이처’ 런칭</li>
                    <li>LG백화점 입점</li>
                    <li>초록마을(친환경 유기농 전문점) 입점</li>
                    <li>서울코엑스몰에서 개최된 ‘친환경 유기농 박람회’ 참가</li>
                   </ol>
                </div>
                <div>
                  <h6>2003</h6>
                  <ol>
                    <li>LG eshop, 인터파크 등의 인터넷 쇼핑몰 입점 / E-Mart 입점</li>
                   </ol>
                </div>
                <div>
                  <h6>2002</h6>
                  <ol>
                    <li>[결고은사람들 설립] 인공합성색소, 광물성오일 원료를 배제하고
                    <br>한방의학에 기초한 스킨케어 시리즈 연구, 개발</li>
                   </ol>
                </div>
             </div>
             <div class="his_img">
                <img src="img/oh/his_intro.jpg">
             </div>
        </section>



         <!-----sub_page------>
         <section class="erseongcho_story w1200 dis">
            <div class="ers_cont">
                <img src="img/oh/erseongcho_story.jpg">
            </div>
        </section>
        <section class="store w1200 dis">
            <div class="store_cont">
                <img src="img/oh/store.jpg">
            </div>
        </section>

    </section>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="js/intro.js"></script>


  