        <ul id="kaTop">
            <li onclick="getShowCT()"><a class="ka" id="ka" href="javascript:void(0);"></a></li>
            <li><a class="top" id="top" href="javascript:void(0);"></a></li>
        </ul>
        <section class="w1200">
            <div class="log_main_wrap">
                <h2>HEYNATURE</h2>
                <div class="form_wrap">
                    <form>
                        <div class="id">
                            <input type="text" class="id_box" placeholder="아이디">
                        </div>
                        <div class="pw">
                            <input type="password" class="pw_box" placeholder="비밀번호">
                        </div>
                        <div  class="login_btn">
                            <a href="#">로그인하기</a>
                        </div>
                    </form>
                    <ul class="find_page_con">
                        <li>
                            <a class="f_id" href="find">ID·PW 찾기</a>
                        </li>
                        <li>·</li>
                        <li>
                            <a href="join">회원가입</a>
                        </li>
                    </ul>
                </div>

                <div class="mem_bene">
                    <img src="img/oh/login_img.jpg">
                </div>
            </div>
        </section>

        <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script> -->
     
