<section class="test">
    <section class="home panel" data-section-name="home" id="home">
        <div class="main1">
            <div class="main1_cont">
                <h1>Love your skin, Love the earth</h1>
                <h3>자연으로부터 얻은 건강한 원료로</h3>
                <h3>건강하고 안전한 제품을 만듭니다.</h3>
                <h4>어성초 스킨 <b>Erseongcho Toner</b></h4>
                <div><a href="detail">자세히보기</a></div>
            </div>
        </div>
        <ul class="pagination pagination1">
            <li><a class="m_top mactive " href="#home"><span class="hover-text">Home</span></a></li>
            <li><a class="" href="#HEYNATURE"><span class="hover-text">HEYNATURE</span></a></li>
            <li><a class="" href="#NEW"><span class="hover-text">NEW</span></a></li>
            <li><a class="" href="#BESTSELLER"><span class="hover-text">BESTSELLER</span></a></li>
            <li><a class="" href="#BRAND"><span class="hover-text">BRAND</span></a></li>
            <li><a class="" href="#EVENT/NOTICE"><span class="hover-text">EVENT/NOTICE</span></a>
            <li><a class="" href="#INSTAGRAM"><span class="hover-text">INSTAGRAM</span></a></li>
            <li><a class="" href="#INFORMATION"><span class="hover-text">INFORMATION</span></a></li>
        </ul>
    </section>
    <section class="panel panel1" data-section-name="HEYNATURE">
        <div class="m_dis"></div>
        <div class="m2_rwrap">
            <a href="detail"><img class="m2_r1" src="img/park/m2r1.jpg"></a>
            <a href="detail"><img class="m2_r2" src="img/park/m2r2.jpg"></a>
            <a href="detail"><img class="m2_r3" src="img/park/m2r3.png"></a>
            <a href="detail"><img class="m2_r4" src="img/park/m2r4.jpg"></a>
            <a href="detail"><img class="m2_r7" src="img/park/m2r7.jpg"></a>
            <a href="detail"><img class="m2_r8" src="img/park/m2r8.jpg"></a>
        </div>
    </section>
    <section class="panel panel2" data-section-name="NEW">
        <div class="main1_2">
            <div class="main1_cont">
                <h1>NEW</h1>
                <h3>칙칙해진 피부를 맑고 환하게!</h3>
                <h3>100% 순면시트 미백 + 진정 </h3>
                <h4>어성초 톤업 마스크<b>Erseongcho Tone-up Mask</b></h4>
                <div><a href="detail">자세히보기</a></div>
            </div>
        </div>
    </section>
    <section class="panel panel3" data-section-name="BESTSELLER">
        <article class="swiper mySwiper">
            <h1>BEST SELLER</h1>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="detail">
                            <img src="img/park/bestseller1.jpg">
                            <p>어성초 트리플세럼 + 워터크림 SET</p>
                        </a>
    
                    </div>
                    <div class="swiper-slide">
                        <a href="detail">
                            <img src="img/park/bestseller2.jpg">
                            <p>어성초 스킨</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="detail">
                            <img src="img/park/bestseller3.jpg">
                            <p>어성초 앰플</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="detail">
                            <img src="img/park/bestseller4.jpg">
                            <p>어성초 마스크 5+5</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="detail">
                            <img src="img/park/bestseller5.jpg">
                            <p>앰플 + 워터크림 + 어성초마스크 5장</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="detail">
                            <img src="img/park/bestseller6.png">
                            <p>스킨 + 세럼 + 어성초마스크 5장</p>
                        </a>
                    </div>
                </div>
            <div class="swiper-pagination"></div>
        </article>
    </section>
    <section class="panel panel4" data-section-name="BRAND">
        <div class="main1_3">
            <div class="main1_cont">
                <h1>BRAND</h1>
                <h3>'처음피부'로 돌아갈 수 있도록</h3>
                <h3>피부가 미소 짓는 연구를 합니다.</h3>
                <h4>자연유래원료를 바탕으로 연구·생산하는 자연주의 브랜드</h4>
                <div><a href="intro">자세히보기</a></div>
            </div>
        </div> 
    </section>
    <section class="panel panel5" data-section-name="EVENT/NOTICE">
      <article class="panel5_cont">
            <div class="main4_cont">
                <figure class="m4c1">
                    <div>
                        <a href="event">
                            <video muted autoplay="1" loop = "1" id="video">
                                <source src="img/park/Tree - 2004.mp4" type="video/mp4">
                            </video>
                        </a>
                    </div>
                    <figcaption>
                        <a href="event">
                            <h2>EVENT</h2>
                            <span>Heynature 특별한 이벤트 확인하기</p></span>
                        </a>
                    </figcaption>
                </figure>
                <figure class="m4c2 m_dis">
                    <div>
                        <a href="cosmetic_cscenter">
                            <video muted autoplay="1" loop = "1" id="video2">
                                <source src="img/park/Beach - 9926.mp4" type="video/mp4">
                            </video>
                        </a>
                    </div>
                    <figcaption>
                        <a href="cosmetic_cscenter">
                            <h2>NOTICE</h2>
                            <span>Heynature 소식 보러가기</span>
                        </a>
                    </figcaption>
                </figure>
    </section>
    <section class="panel panel6 main5" data-section-name="INSTAGRAM">
        <article class="panel6_wrap w1200">
            <div class="panel6_cont">
                <h1>FOLLOW US</h1>
                <h4>@heynature.official</h4>
                <ul class="insta">
                    <li><a class="img1" href="https://www.instagram.com/p/CETsNZnF0m3/?utm_source=ig_web_copy_link" target="_blank"></a></li>
                    <li><a class="img2" href="https://www.instagram.com/heynature.official/" target="_blank"></a></li>
                    <li><a class="img3" href="https://www.instagram.com/tv/CXLTuAqFuX-/?utm_source=ig_web_copy_link" target="_blank"></a></li>
                    <li><a class="img4" href="https://www.instagram.com/p/B_PaMt8lyaz/?utm_source=ig_web_copy_link" target="_blank"></a></li>
                    <li><a class="img5" href="https://www.instagram.com/p/CMJENVAlLA0/?utm_source=ig_web_copy_link" target="_blank"></a></li>
                    <li><a class="img6" href="https://www.instagram.com/p/CNKHGFGFJYT/?utm_source=ig_web_copy_link" target="_blank"></a></li>
                    <li class="t_dis"><a class="img7" href="https://www.instagram.com/p/COFz1VllG4G/?utm_source=ig_web_copy_link" target="_blank"></a></li>
                    <li class="t_dis"><a class="img8" href="https://www.instagram.com/p/B4MsLXdFkU7/?utm_source=ig_web_copy_link" target="_blank"></a></li>
                    <li class="t_dis"><a class="img9" href="https://www.instagram.com/p/CM_41TXlurc/?utm_source=ig_web_copy_link" target="_blank"></a></li>
                    <li class="t_dis"><a class="img10" href="https://www.instagram.com/p/CahCGm8lkYk/?utm_source=ig_web_copy_link" target="_blank"></a></li>
                </ul>
            </div>
        </article> 
    </section>
    <ul id="chTop">
        <li onclick="getShowCT()"><a class="ka" id="ka" href="javascript:void(0);"></a></li>
        <!-- <li onclick="gotop()"><a class="gotop" id="gotop" href="#home"></a></li> -->
        <li class="pagination pagination2"><a class="gotop" id="gotop" href="#home"></a></li> 

    </ul>
    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
     한페이지씩 내려가는거 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.19/jquery.scrollify.min.js"></script>
    <!-- 한페이지씩 천천히 내려가는거 -->
    <script src="js/main.js"></script> 
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

</section>
