/* 0615 common 수정 */

.w1200{
    width:1200px;
    margin:auto;
}
.xx{
    width:100%;
    height:100vh;
    background-color: lavender;
}
header{
    position:fixed;
    z-index:999;
    top:0;
    width:100%;
}
.banner{
    width:100%;
    height:50px;
    margin:auto;
    background-color: #F9F4E6;
    text-align: center;
}
.banner>a:first-child{
    display:inline-block;
    font-size:16px;
    line-height:50px;
    color:#000;
    font-family: 'NanumBarunGothic';
}
.banner>a:last-child{
    display:inline-block;
    position:absolute;
    right:25px;
    line-height:50px;
    font-size:28px;
    color: #777;
}

.logo>a{
    display:block;
    width:125px;
    height:56px;
    background-image: url(../img/park/h_logo01.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.nav_menu{
    cursor:pointer;
    display:block;
    width:30px;
    height:25px;
    background-image: url(../img/park/menu_button.png);
    margin:13px 0;
    
    
}
#mySidedark{
    position:fixed;
    top:0;
    left:0;
    display:none;
    background-color: rgba(0,0,0,0.4);
    width:100%;
    height:100vh;
    z-index:999;

}
.sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #FFFEF4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top:160px;
    box-sizing: border-box;
  }

  .sidenav>a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav .sidehome {
    padding: 8px 8px 8px 32px;
    position: absolute;
    top: 38px;
    /* left: 25px; */
    font-size: 36px;
}
.sidenav .sidehome>img{
    width: 35px;
    height:35px;
}
  .sidenav .closebtn {
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  /* .overlay {
    display: none;
    z-index: 2;
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0, 0.4);
    overflow-x: hidden;
  } */
  #main {
    height:86px;
    padding:15px 25px;
    transition: margin-right .5s;
    padding: 16px;
    display:flex;
    justify-content: space-between;
    box-sizing: border-box;

  }
  .menu_im{
    position:absolute;
    left:25px;
    bottom:25px;
    display:flex;
}
.menu_im>li>a{
    display:inline-block;
    width:25px;
    height:25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.myinfo{
    background-image: url(../img/park/myinfo.png);
    margin-right: 5px;
}
.mycart{
    background-image: url(../img/park/mycart.png);
    position:relative;
    text-align: center;
}
.mycart>span{
    display:block;
    width:20px;
    height:20px;
    background-color: #FF3925;
    border-radius: 50%;
    text-align: center;
    color:#fff;
    font-size:12px;
    position: absolute;
    top:-7px;
    right:-7px;
    line-height: 20px;
}

/*********** header (searchbox) ************/

.right_btn_wrap{
    display:flex;
    flex-direction: row;
}
.search_show{/* 위치 설정해야함 */
    width:30px;
    height:25px;
    /* margin-right: 20px; */
    margin : 13px 20px; 
    background-image: url(../img/kim/navi-search-search-window-icon-with-png-and-vector-format-79857.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display:block;
    cursor: pointer;
}
#search_i{
    width:100%;
    height:100%;
    /* display:block; */
}
.search_hide{/* 위치 설정해야함 */
    width:30px;
    height:25px;
    /* margin-right: 20px; */
    margin : 13px 20px 13px 10px;
    background-image: url(../img/kim/kindpng_11745.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display:none;
}
#X_i{
    width:100%;
    height:100%;
    /* display:none; */
}

.searchbar{
    /* background-color: #fff; */
    border-radius: 2px;
    box-sizing: border-box;
    width:100%;
    cursor: pointer;
    margin : 13px 0;
}
#input{
    /* background :#FFFEFC url(../img/kim/navi-search-search-window-icon-with-png-and-vector-format-79857.png) no-repeat 3% center/ 20px 20px ; */
    background : url(../img/kim/navi-search-search-window-icon-with-png-and-vector-format-79857.png) no-repeat 3% center/ 20px 20px ;
    padding-left: 40px;
    background-repeat: no-repeat;
    border:none;
    border-bottom: 1px solid #555;
    color:#555;
    box-sizing : border-box;
    font-size : 18px;
    position:relative;
    width:25%;
    height:35px;
    float:right;
    cursor:pointer;
    display:none;
    transition-duration: 2s;
}

input:focus{
    outline: none;
}


/*******HEADER END********/

/*******FOOTER START*******/
footer{
    width:100%;
    background-color: #333333;
    flex-wrap:wrap;
}
footer p{
    font-family: 'NanumBarunGothic';
}
.f_notice{
    margin:auto;
    width:1200px;
    display:flex;
}
.f_notice a{
    line-height:65px;
    font-size:16px;
    font-family: 'NanumBarunGothic';
}
.f_notice>span>a{
    display:inline-block;
    width:102px;
    text-align: center;
    color:#fff;
    margin-right:68px;

}
.f_notice>b{
    width:calc(100% - 190px);
}
.f_notice>b>a{
    display:block;
    color:#9B9B9B;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right:20px;
}
.f_border{
    width:100%;
    border-bottom:1px solid rgba(155,155,155,0.5);
}   
.f_inner{
    width:1200px;
    padding:50px 0;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.f_inner>.f_logo{
    display:inline-block;
    background-image: url(../img/park/hlogow.png);
    width:102px;
    height:80px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-right:68px;
}
.f_contents{
    display:flex;
    width:calc(100% - 180px);
    justify-content: space-between;  
    align-items: center;  
}
.f_contp{
    width:calc(100% - 50px);
}
.f_contents p{
    color:#9B9B9B;
    font-size:14px;
    line-height:30px;
}
.f_inner p>span{
    display:block;
    padding:12px 0;
}
.f_contents span>a{
    color:#fff;
    font-size:14px;
    margin-right:5px;
    line-height:30px;
}
.f_inner ul{
    margin-left:10px;
}
.f_inner ul>li>a{
    display:block;
    width:40px;
    height:40px;
    margin:10px 0;
    background-size:100% auto;
    
    
}
.in_icon{
    background-image: url(../img/park/ig_icon.png);
}
.fb_icon{
    background-image: url(../img/park/fb_icon.png);
}
.yt_icon{
    background-image: url(../img/park/yt_icon.png);
}


#kaTop{
    width:50px;
    height:110px;
    position:fixed;
    z-index: 7;
    display:none;
}
.ka_top1{
    position:fixed;
    right:15px; 
    bottom:15px;
    
}
.ka_top2{
    position:fixed;
    right: 10px;
    top: calc(50% + 90px);
    transform: translateY(-50%);
    opacity: 0.6;
}
.ka, .top{
    display:block;
    width:50px;
    height:50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.ka{
    background-image: url(../img/park/ka\ \(1\).png);
}
.top{
    margin-top:5px;
    background-image: url(../img/park/top.png);
}

@media only screen and (max-width: 1200px) {
    .f_inner{
        width:100%;
    }
    .f_notice{
        width:100%;
    }

}
@media only screen and (max-width: 1024px) {
    .w1200{
        width:100%;
    }
    .lm_wrap{
        padding:15px 20px;
    }
    .banner>a:first-child{
        font-size:15px;
    }
    .banner>a:last-child{
        font-size:25px;
    }
    .f_notice{
        padding: 0 20px 0 0;
        width:100%;
        box-sizing: border-box;
    }
    .f_notice a{
        font-size:15px;
    }
    .f_notice>span>a{
        margin-right:35px;
    
    }
    .f_inner{
        padding:35px 20px;
        box-sizing: border-box;
    }
    .f_inner>.f_logo{
        display:block;
        width:64px;
        height:50px;
    }
    .f_contents{
        display:flex;
        width:100%;
        justify-content: space-between;
        margin:35px 0 0;    
    }
    .f_contp{
        width:calc(100% - 50px);
    }

    #input{
        /*검색창 최종*/
        font-size : 14px;
        width: 25%;

    }
  }
  @media only screen and (max-width: 768px) {
    .banner>a:first-child{
        font-size:14px;
    }
    .banner>a:last-child{
        font-size:22px;
    }
    .f_contents p{
        font-size:12px;
    }
    .f_contents span>a{
        font-size:12px;
    }

    #input{
        /*검색창 최종*/
        font-size : 14px;
        width: 50%;
    }

  }