body * {
    font-family: 'NanumBarunGothic','Circular-Std-Font';
}
body {
    background-color: #FFFEFC;
    position: relative;
}
.dis {
    display: none;
}
/*find tab*/
.find_tab {
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
}
.find_tab li{
    float: left;
    width: 50%;
    box-sizing: border-box;
    border-bottom: 4px solid #000;
}
.find_tab a {
    display: block;
    height: 46px;
    border: 1px solid #d4d4d4;
    border-bottom: 0;
    background: #fff;
    color: #a0a0a0;
    font-size: 15px;
    font-weight: 600;
    line-height: 46px;
    text-align: center;
    font-family: 'NanumBarunGothic'
}
.find_tab .active {
    position: relative;
    background: #222;
    color: #fff;
    border-color: #000;
}




/*****MAIN*****/
.find_wrap {
    max-width: 400px;
    margin:  auto;
    padding: 150px 0 170px;
    box-sizing: border-box;
}
.find_wrap>h2 {
    margin-bottom: 70px;
    color: #000;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    font-family: 'NanumBarunGothic'
}





#id_find_wrap, #pw_find_wrap {
    box-sizing: border-box;
    margin: auto;
    padding: 30px 40px;
    box-sizing: border-box;
}
#id_find_wrap>h2, #pw_find_wrap>h2 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'NanumBarunGothic'
}
#id_find_wrap label, #pw_find_wrap label {
    font-size: 14px;
    font-family: 'NanumBarunGothic'
}
#id_find_wrap div, #pw_find_wrap div {
    margin-bottom: 25px;
}
#id_find_wrap input, #pw_find_wrap input {
    padding: 7px 80px 7px 2px;
}
.phone_btn>button {
    background-color: #222; 
    color: #fff;
    border: 2px solid #222;
    padding: 6px 11px;
    border-radius: 2px;
    cursor: pointer;
}
.find_btn {
    text-align: center;
    
}
.find_btn>a {
    background-color: #222; 
    color: #fff;
    border: 1px solid #000;
    padding: 7px 20px;
    border-radius: 2px;
}
